--
-- PostgreSQL database dump
--

\restrict zaC5o2QSy1QxjlceFTV9LHkLuIXZAxvkK2ac77xZbmpbUhncqXcWbunM5j3LCJ7

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: links; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA links;


ALTER SCHEMA links OWNER TO postgres;

--
-- Name: main; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA main;


ALTER SCHEMA main OWNER TO postgres;

--
-- Name: refs; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA refs;


ALTER SCHEMA refs OWNER TO postgres;

--
-- Name: pageinspect; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pageinspect WITH SCHEMA public;


--
-- Name: EXTENSION pageinspect; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pageinspect IS 'inspect the contents of database pages at a low level';


--
-- Name: pg_stat_statements; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_stat_statements WITH SCHEMA public;


--
-- Name: EXTENSION pg_stat_statements; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_stat_statements IS 'track planning and execution statistics of all SQL statements executed';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: plant_feature; Type: TABLE; Schema: links; Owner: postgres
--

CREATE TABLE links.plant_feature (
    plant_id integer NOT NULL,
    feature_id integer NOT NULL
);


ALTER TABLE links.plant_feature OWNER TO postgres;

--
-- Name: plant_tip; Type: TABLE; Schema: links; Owner: postgres
--

CREATE TABLE links.plant_tip (
    plant_id integer NOT NULL,
    tip_id integer NOT NULL
);


ALTER TABLE links.plant_tip OWNER TO postgres;

--
-- Name: fertilizer; Type: TABLE; Schema: main; Owner: postgres
--

CREATE TABLE main.fertilizer (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    usage text,
    created_at timestamp without time zone,
    price numeric(8,2),
    production_period daterange,
    composition jsonb,
    supported_sizes text[],
    popularity_index integer,
    discontinued_at timestamp without time zone
);


ALTER TABLE main.fertilizer OWNER TO postgres;

--
-- Name: fertilizer_id_seq; Type: SEQUENCE; Schema: main; Owner: postgres
--

CREATE SEQUENCE main.fertilizer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE main.fertilizer_id_seq OWNER TO postgres;

--
-- Name: fertilizer_id_seq; Type: SEQUENCE OWNED BY; Schema: main; Owner: postgres
--

ALTER SEQUENCE main.fertilizer_id_seq OWNED BY main.fertilizer.id;


--
-- Name: plant; Type: TABLE; Schema: main; Owner: postgres
--

CREATE TABLE main.plant (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    sunlight_id integer,
    watering_id integer,
    temperature_id integer,
    safety_id integer,
    difficulty_id integer,
    size_id integer,
    fertilizer_id integer,
    created_at timestamp without time zone,
    deleted_at timestamp without time zone,
    rating numeric(3,2),
    care_level character varying(20),
    tags text[],
    metadata jsonb,
    growth_period daterange,
    greenhouse_zone point,
    search_vector tsvector
);


ALTER TABLE main.plant OWNER TO postgres;

--
-- Name: plant_id_seq; Type: SEQUENCE; Schema: main; Owner: postgres
--

CREATE SEQUENCE main.plant_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE main.plant_id_seq OWNER TO postgres;

--
-- Name: plant_id_seq; Type: SEQUENCE OWNED BY; Schema: main; Owner: postgres
--

ALTER SEQUENCE main.plant_id_seq OWNED BY main.plant.id;


--
-- Name: tip; Type: TABLE; Schema: main; Owner: postgres
--

CREATE TABLE main.tip (
    id integer NOT NULL,
    tip_text text NOT NULL,
    created_at timestamp without time zone,
    category character varying(50),
    importance_score integer,
    metadata jsonb,
    valid_period daterange,
    search_vector tsvector,
    archived_at timestamp without time zone
);


ALTER TABLE main.tip OWNER TO postgres;

--
-- Name: tip_id_seq; Type: SEQUENCE; Schema: main; Owner: postgres
--

CREATE SEQUENCE main.tip_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE main.tip_id_seq OWNER TO postgres;

--
-- Name: tip_id_seq; Type: SEQUENCE OWNED BY; Schema: main; Owner: postgres
--

ALTER SEQUENCE main.tip_id_seq OWNED BY main.tip.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: difficulty; Type: TABLE; Schema: refs; Owner: postgres
--

CREATE TABLE refs.difficulty (
    id integer NOT NULL,
    type character varying(255) NOT NULL
);


ALTER TABLE refs.difficulty OWNER TO postgres;

--
-- Name: difficulty_id_seq; Type: SEQUENCE; Schema: refs; Owner: postgres
--

CREATE SEQUENCE refs.difficulty_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE refs.difficulty_id_seq OWNER TO postgres;

--
-- Name: difficulty_id_seq; Type: SEQUENCE OWNED BY; Schema: refs; Owner: postgres
--

ALTER SEQUENCE refs.difficulty_id_seq OWNED BY refs.difficulty.id;


--
-- Name: feature; Type: TABLE; Schema: refs; Owner: postgres
--

CREATE TABLE refs.feature (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    intensity_level integer,
    safety_flag boolean,
    plant_part character varying(255),
    created_at timestamp without time zone,
    rarity_score integer,
    extra_info jsonb,
    seasons text[],
    active_period daterange,
    deprecated_at timestamp without time zone
);


ALTER TABLE refs.feature OWNER TO postgres;

--
-- Name: feature_id_seq; Type: SEQUENCE; Schema: refs; Owner: postgres
--

CREATE SEQUENCE refs.feature_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE refs.feature_id_seq OWNER TO postgres;

--
-- Name: feature_id_seq; Type: SEQUENCE OWNED BY; Schema: refs; Owner: postgres
--

ALTER SEQUENCE refs.feature_id_seq OWNED BY refs.feature.id;


--
-- Name: safety; Type: TABLE; Schema: refs; Owner: postgres
--

CREATE TABLE refs.safety (
    id integer NOT NULL,
    type character varying(255) NOT NULL
);


ALTER TABLE refs.safety OWNER TO postgres;

--
-- Name: safety_id_seq; Type: SEQUENCE; Schema: refs; Owner: postgres
--

CREATE SEQUENCE refs.safety_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE refs.safety_id_seq OWNER TO postgres;

--
-- Name: safety_id_seq; Type: SEQUENCE OWNED BY; Schema: refs; Owner: postgres
--

ALTER SEQUENCE refs.safety_id_seq OWNED BY refs.safety.id;


--
-- Name: size; Type: TABLE; Schema: refs; Owner: postgres
--

CREATE TABLE refs.size (
    id integer NOT NULL,
    type character varying(255) NOT NULL
);


ALTER TABLE refs.size OWNER TO postgres;

--
-- Name: size_id_seq; Type: SEQUENCE; Schema: refs; Owner: postgres
--

CREATE SEQUENCE refs.size_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE refs.size_id_seq OWNER TO postgres;

--
-- Name: size_id_seq; Type: SEQUENCE OWNED BY; Schema: refs; Owner: postgres
--

ALTER SEQUENCE refs.size_id_seq OWNED BY refs.size.id;


--
-- Name: sunlight; Type: TABLE; Schema: refs; Owner: postgres
--

CREATE TABLE refs.sunlight (
    id integer NOT NULL,
    type character varying(255) NOT NULL
);


ALTER TABLE refs.sunlight OWNER TO postgres;

--
-- Name: sunlight_id_seq; Type: SEQUENCE; Schema: refs; Owner: postgres
--

CREATE SEQUENCE refs.sunlight_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE refs.sunlight_id_seq OWNER TO postgres;

--
-- Name: sunlight_id_seq; Type: SEQUENCE OWNED BY; Schema: refs; Owner: postgres
--

ALTER SEQUENCE refs.sunlight_id_seq OWNED BY refs.sunlight.id;


--
-- Name: temperature; Type: TABLE; Schema: refs; Owner: postgres
--

CREATE TABLE refs.temperature (
    id integer NOT NULL,
    type character varying(255) NOT NULL
);


ALTER TABLE refs.temperature OWNER TO postgres;

--
-- Name: temperature_id_seq; Type: SEQUENCE; Schema: refs; Owner: postgres
--

CREATE SEQUENCE refs.temperature_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE refs.temperature_id_seq OWNER TO postgres;

--
-- Name: temperature_id_seq; Type: SEQUENCE OWNED BY; Schema: refs; Owner: postgres
--

ALTER SEQUENCE refs.temperature_id_seq OWNED BY refs.temperature.id;


--
-- Name: watering; Type: TABLE; Schema: refs; Owner: postgres
--

CREATE TABLE refs.watering (
    id integer NOT NULL,
    type character varying(255) NOT NULL
);


ALTER TABLE refs.watering OWNER TO postgres;

--
-- Name: watering_id_seq; Type: SEQUENCE; Schema: refs; Owner: postgres
--

CREATE SEQUENCE refs.watering_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE refs.watering_id_seq OWNER TO postgres;

--
-- Name: watering_id_seq; Type: SEQUENCE OWNED BY; Schema: refs; Owner: postgres
--

ALTER SEQUENCE refs.watering_id_seq OWNED BY refs.watering.id;


--
-- Name: fertilizer id; Type: DEFAULT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.fertilizer ALTER COLUMN id SET DEFAULT nextval('main.fertilizer_id_seq'::regclass);


--
-- Name: plant id; Type: DEFAULT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.plant ALTER COLUMN id SET DEFAULT nextval('main.plant_id_seq'::regclass);


--
-- Name: tip id; Type: DEFAULT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.tip ALTER COLUMN id SET DEFAULT nextval('main.tip_id_seq'::regclass);


--
-- Name: difficulty id; Type: DEFAULT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.difficulty ALTER COLUMN id SET DEFAULT nextval('refs.difficulty_id_seq'::regclass);


--
-- Name: feature id; Type: DEFAULT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.feature ALTER COLUMN id SET DEFAULT nextval('refs.feature_id_seq'::regclass);


--
-- Name: safety id; Type: DEFAULT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.safety ALTER COLUMN id SET DEFAULT nextval('refs.safety_id_seq'::regclass);


--
-- Name: size id; Type: DEFAULT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.size ALTER COLUMN id SET DEFAULT nextval('refs.size_id_seq'::regclass);


--
-- Name: sunlight id; Type: DEFAULT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.sunlight ALTER COLUMN id SET DEFAULT nextval('refs.sunlight_id_seq'::regclass);


--
-- Name: temperature id; Type: DEFAULT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.temperature ALTER COLUMN id SET DEFAULT nextval('refs.temperature_id_seq'::regclass);


--
-- Name: watering id; Type: DEFAULT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.watering ALTER COLUMN id SET DEFAULT nextval('refs.watering_id_seq'::regclass);


--
-- Name: plant_feature plant_feature_pkey; Type: CONSTRAINT; Schema: links; Owner: postgres
--

ALTER TABLE ONLY links.plant_feature
    ADD CONSTRAINT plant_feature_pkey PRIMARY KEY (plant_id, feature_id);


--
-- Name: plant_tip plant_tip_pkey; Type: CONSTRAINT; Schema: links; Owner: postgres
--

ALTER TABLE ONLY links.plant_tip
    ADD CONSTRAINT plant_tip_pkey PRIMARY KEY (plant_id, tip_id);


--
-- Name: fertilizer fertilizer_pkey; Type: CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.fertilizer
    ADD CONSTRAINT fertilizer_pkey PRIMARY KEY (id);


--
-- Name: plant plant_pkey; Type: CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.plant
    ADD CONSTRAINT plant_pkey PRIMARY KEY (id);


--
-- Name: tip tip_pkey; Type: CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.tip
    ADD CONSTRAINT tip_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: difficulty difficulty_pkey; Type: CONSTRAINT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.difficulty
    ADD CONSTRAINT difficulty_pkey PRIMARY KEY (id);


--
-- Name: feature feature_pkey; Type: CONSTRAINT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.feature
    ADD CONSTRAINT feature_pkey PRIMARY KEY (id);


--
-- Name: safety safety_pkey; Type: CONSTRAINT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.safety
    ADD CONSTRAINT safety_pkey PRIMARY KEY (id);


--
-- Name: size size_pkey; Type: CONSTRAINT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.size
    ADD CONSTRAINT size_pkey PRIMARY KEY (id);


--
-- Name: sunlight sunlight_pkey; Type: CONSTRAINT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.sunlight
    ADD CONSTRAINT sunlight_pkey PRIMARY KEY (id);


--
-- Name: temperature temperature_pkey; Type: CONSTRAINT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.temperature
    ADD CONSTRAINT temperature_pkey PRIMARY KEY (id);


--
-- Name: watering watering_pkey; Type: CONSTRAINT; Schema: refs; Owner: postgres
--

ALTER TABLE ONLY refs.watering
    ADD CONSTRAINT watering_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_feature_active_period_gist; Type: INDEX; Schema: refs; Owner: postgres
--

CREATE INDEX idx_feature_active_period_gist ON refs.feature USING gist (active_period);


--
-- Name: plant_feature plant_feature_feature_id_fkey; Type: FK CONSTRAINT; Schema: links; Owner: postgres
--

ALTER TABLE ONLY links.plant_feature
    ADD CONSTRAINT plant_feature_feature_id_fkey FOREIGN KEY (feature_id) REFERENCES refs.feature(id);


--
-- Name: plant_feature plant_feature_plant_id_fkey; Type: FK CONSTRAINT; Schema: links; Owner: postgres
--

ALTER TABLE ONLY links.plant_feature
    ADD CONSTRAINT plant_feature_plant_id_fkey FOREIGN KEY (plant_id) REFERENCES main.plant(id);


--
-- Name: plant_tip plant_tip_plant_id_fkey; Type: FK CONSTRAINT; Schema: links; Owner: postgres
--

ALTER TABLE ONLY links.plant_tip
    ADD CONSTRAINT plant_tip_plant_id_fkey FOREIGN KEY (plant_id) REFERENCES main.plant(id);


--
-- Name: plant_tip plant_tip_tip_id_fkey; Type: FK CONSTRAINT; Schema: links; Owner: postgres
--

ALTER TABLE ONLY links.plant_tip
    ADD CONSTRAINT plant_tip_tip_id_fkey FOREIGN KEY (tip_id) REFERENCES main.tip(id);


--
-- Name: plant plant_difficulty_id_fkey; Type: FK CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.plant
    ADD CONSTRAINT plant_difficulty_id_fkey FOREIGN KEY (difficulty_id) REFERENCES refs.difficulty(id);


--
-- Name: plant plant_fertilizer_id_fkey; Type: FK CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.plant
    ADD CONSTRAINT plant_fertilizer_id_fkey FOREIGN KEY (fertilizer_id) REFERENCES main.fertilizer(id);


--
-- Name: plant plant_safety_id_fkey; Type: FK CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.plant
    ADD CONSTRAINT plant_safety_id_fkey FOREIGN KEY (safety_id) REFERENCES refs.safety(id);


--
-- Name: plant plant_size_id_fkey; Type: FK CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.plant
    ADD CONSTRAINT plant_size_id_fkey FOREIGN KEY (size_id) REFERENCES refs.size(id);


--
-- Name: plant plant_sunlight_id_fkey; Type: FK CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.plant
    ADD CONSTRAINT plant_sunlight_id_fkey FOREIGN KEY (sunlight_id) REFERENCES refs.sunlight(id);


--
-- Name: plant plant_temperature_id_fkey; Type: FK CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.plant
    ADD CONSTRAINT plant_temperature_id_fkey FOREIGN KEY (temperature_id) REFERENCES refs.temperature(id);


--
-- Name: plant plant_watering_id_fkey; Type: FK CONSTRAINT; Schema: main; Owner: postgres
--

ALTER TABLE ONLY main.plant
    ADD CONSTRAINT plant_watering_id_fkey FOREIGN KEY (watering_id) REFERENCES refs.watering(id);


--
-- Name: SCHEMA links; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON SCHEMA links TO admin;
GRANT USAGE ON SCHEMA links TO analyst;
GRANT USAGE ON SCHEMA links TO lab_assistant;


--
-- Name: SCHEMA main; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON SCHEMA main TO admin;
GRANT USAGE ON SCHEMA main TO analyst;
GRANT USAGE ON SCHEMA main TO lab_assistant;


--
-- Name: SCHEMA refs; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON SCHEMA refs TO admin;
GRANT USAGE ON SCHEMA refs TO analyst;
GRANT USAGE ON SCHEMA refs TO lab_assistant;


--
-- Name: TABLE plant_feature; Type: ACL; Schema: links; Owner: postgres
--

GRANT ALL ON TABLE links.plant_feature TO admin;
GRANT SELECT ON TABLE links.plant_feature TO analyst;
GRANT SELECT,INSERT,UPDATE ON TABLE links.plant_feature TO lab_assistant;


--
-- Name: TABLE plant_tip; Type: ACL; Schema: links; Owner: postgres
--

GRANT ALL ON TABLE links.plant_tip TO admin;
GRANT SELECT ON TABLE links.plant_tip TO analyst;
GRANT SELECT,INSERT,UPDATE ON TABLE links.plant_tip TO lab_assistant;


--
-- Name: TABLE fertilizer; Type: ACL; Schema: main; Owner: postgres
--

GRANT ALL ON TABLE main.fertilizer TO admin;
GRANT SELECT ON TABLE main.fertilizer TO analyst;
GRANT SELECT,INSERT,UPDATE ON TABLE main.fertilizer TO lab_assistant;


--
-- Name: SEQUENCE fertilizer_id_seq; Type: ACL; Schema: main; Owner: postgres
--

GRANT ALL ON SEQUENCE main.fertilizer_id_seq TO admin;
GRANT ALL ON SEQUENCE main.fertilizer_id_seq TO lab_assistant;


--
-- Name: TABLE plant; Type: ACL; Schema: main; Owner: postgres
--

GRANT ALL ON TABLE main.plant TO admin;
GRANT SELECT ON TABLE main.plant TO analyst;
GRANT SELECT,INSERT,UPDATE ON TABLE main.plant TO lab_assistant;


--
-- Name: SEQUENCE plant_id_seq; Type: ACL; Schema: main; Owner: postgres
--

GRANT ALL ON SEQUENCE main.plant_id_seq TO admin;
GRANT ALL ON SEQUENCE main.plant_id_seq TO lab_assistant;


--
-- Name: TABLE tip; Type: ACL; Schema: main; Owner: postgres
--

GRANT ALL ON TABLE main.tip TO admin;
GRANT SELECT ON TABLE main.tip TO analyst;
GRANT SELECT,INSERT,UPDATE ON TABLE main.tip TO lab_assistant;


--
-- Name: SEQUENCE tip_id_seq; Type: ACL; Schema: main; Owner: postgres
--

GRANT ALL ON SEQUENCE main.tip_id_seq TO admin;
GRANT ALL ON SEQUENCE main.tip_id_seq TO lab_assistant;


--
-- Name: TABLE difficulty; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON TABLE refs.difficulty TO admin;
GRANT SELECT ON TABLE refs.difficulty TO analyst;
GRANT SELECT ON TABLE refs.difficulty TO lab_assistant;


--
-- Name: SEQUENCE difficulty_id_seq; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON SEQUENCE refs.difficulty_id_seq TO admin;


--
-- Name: TABLE feature; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON TABLE refs.feature TO admin;
GRANT SELECT ON TABLE refs.feature TO analyst;
GRANT SELECT ON TABLE refs.feature TO lab_assistant;


--
-- Name: SEQUENCE feature_id_seq; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON SEQUENCE refs.feature_id_seq TO admin;


--
-- Name: TABLE safety; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON TABLE refs.safety TO admin;
GRANT SELECT ON TABLE refs.safety TO analyst;
GRANT SELECT ON TABLE refs.safety TO lab_assistant;


--
-- Name: SEQUENCE safety_id_seq; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON SEQUENCE refs.safety_id_seq TO admin;


--
-- Name: TABLE size; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON TABLE refs.size TO admin;
GRANT SELECT ON TABLE refs.size TO analyst;
GRANT SELECT ON TABLE refs.size TO lab_assistant;


--
-- Name: SEQUENCE size_id_seq; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON SEQUENCE refs.size_id_seq TO admin;


--
-- Name: TABLE sunlight; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON TABLE refs.sunlight TO admin;
GRANT SELECT ON TABLE refs.sunlight TO analyst;
GRANT SELECT ON TABLE refs.sunlight TO lab_assistant;


--
-- Name: SEQUENCE sunlight_id_seq; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON SEQUENCE refs.sunlight_id_seq TO admin;


--
-- Name: TABLE temperature; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON TABLE refs.temperature TO admin;
GRANT SELECT ON TABLE refs.temperature TO analyst;
GRANT SELECT ON TABLE refs.temperature TO lab_assistant;


--
-- Name: SEQUENCE temperature_id_seq; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON SEQUENCE refs.temperature_id_seq TO admin;


--
-- Name: TABLE watering; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON TABLE refs.watering TO admin;
GRANT SELECT ON TABLE refs.watering TO analyst;
GRANT SELECT ON TABLE refs.watering TO lab_assistant;


--
-- Name: SEQUENCE watering_id_seq; Type: ACL; Schema: refs; Owner: postgres
--

GRANT ALL ON SEQUENCE refs.watering_id_seq TO admin;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: links; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA links GRANT ALL ON TABLES  TO admin;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA links GRANT SELECT ON TABLES  TO analyst;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: main; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA main GRANT ALL ON TABLES  TO admin;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA main GRANT SELECT ON TABLES  TO analyst;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA main GRANT SELECT,INSERT,UPDATE ON TABLES  TO lab_assistant;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: refs; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA refs GRANT ALL ON TABLES  TO admin;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA refs GRANT SELECT ON TABLES  TO analyst;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA refs GRANT SELECT ON TABLES  TO lab_assistant;


--
-- PostgreSQL database dump complete
--

\unrestrict zaC5o2QSy1QxjlceFTV9LHkLuIXZAxvkK2ac77xZbmpbUhncqXcWbunM5j3LCJ7

